// TIME
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

.time {
  &__zone {
    position: relative;

    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
    align-items: center;
    grid-gap: 2rem;

    padding: 0;
    margin: 0;

    &:before,
    &:after {
      content: '';

      height: $border-width;
      background-color: currentColor;

      transform: translateY(50%);
      display: block;
    }
  }

  // The container of the live updating time
  &__exact {
    display: inline-block;
    width: 30rem;
    border-bottom: $border-width solid $color-primary;
    border-left: $border-width solid $color-primary;
    border-right: $border-width solid $color-primary;

    background: rgba($color: $color-background-light, $alpha: 1);

    padding: 1rem;

    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

    span {
      font-size: 60%;
      text-transform: uppercase;
      color: $color-primary-light;
      font-weight: 600;
    }
  }

  svg {
    height: 1rem;
    width: 100%;
    fill: white;
    stroke-width: 1rem;
  }

  &__line {
    fill: white;
    stroke-width: 1rem;
  }
}

// CLOCK
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

.clock {
  position: relative;

  /*     transform: translate(-50%, -50%); */
  height: $clock-size;
  width: $clock-size;

  align-self: center;

  margin: 2rem 0;

  // The clock border
  border: 2rem solid $color-primary-light;
  border-radius: 50%;

  background: url(../images/clock.png);
  background-size: cover;

  background-color: #f7f7f7;

  box-shadow: -1px 2.5px 0 $color-primary-dark,
    inset 0 0 40px rgba(0, 0, 0, 0.5);

  &__hand-hinge {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background: $color-background;
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    z-index: 1;
  }

  &__hour-hand::before {
    content: '';
    position: absolute;
    top: calc(
      50% - 3px
    ); /* -4px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 30%;
    height: 6px; /* Thickness of the clock arm */
    background: $color-primary-dark;
    border-radius: 0 50% 50% 0;
    transform-origin: left;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  // Minute hand
  &::before {
    content: '';
    position: absolute;
    top: calc(
      50% - 1.5px
    ); /* -4px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 45%;
    height: 3px; /* Thickness of the clock arm */
    background: $color-primary;
    border-radius: 0 500% 500% 0;
    transform-origin: left;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  // Second hand
  &::after {
    content: '';
    position: absolute;
    top: calc(
      50% - 0.75px
    ); /* -4px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 35%;
    height: 1.5px; /* Thickness of the clock arm */
    background: $color-primary-light;
    border-radius: 0 50% 50% 0;
    transform-origin: left;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}

// BUTTONS
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

.buttons {
  display: grid;
  // 14 10 7 5 2
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows: min-content;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(10, 1fr);
  }
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media only screen and (max-width: $bp-phone-large) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__btn {
    display: inline-block;
    background-color: $color-tertiary;
    border-radius: 5px;
    padding: 0.5rem 0;

    @media only screen and (max-width: $bp-large) {
      padding: 1rem 0;
    }

    border: 1px dotted $color-tertiary-light;

    cursor: pointer;

    transition: all 1s ease;

    &:hover {
      transition: all 0.15s ease;
      background-color: $color-primary-light;
      color: $color-secondary-light;

      border: 1px dotted $color-primary;
    }
  }
}
