.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr;
  gap: 2rem;
  text-align: center;

  border: 2px solid $color-primary;
}

.time {
}

.clock-container {
  position: relative;
  justify-self: center;
}

.buttons-container {
  justify-self: stretch;
  padding: 0 2.5rem;
}

.links {
  display: none;
}
