.App {
  height: 100vh;

  display: grid;
  /*   grid-template-rows: min-content min-content 1fr 1fr min-content; */

  text-align: center;

  border: $border-width solid $color-primary-light;
  position: relative;
}

.time {
}

.clock-container {
  position: relative;
  justify-self: center;

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 1fr min-content;
  }
}

.buttons-container {
  @include scrollbar(1rem, $color-primary-light, $color-primary-dark);

  background-color: $color-background;

  overflow-y: scroll;

  display: grid;
}

.links {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
