/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Vollkorn SC', serif;
*/

.heading-primary {
  font-family: 'Vollkorn SC', serif;
  font-size: 4.75rem;
  color: $color-primary-light;
  font-weight: 600;
  line-height: 1;

  @media only screen and (max-width: $bp-small) {
    /* font-size: 1.984rem; */
    font-size: 4rem;
  }
  @media only screen and (max-width: $bp-phone-small) {
    /* font-size: 1.984rem; */
    font-size: 3rem;
  }
}

.heading-secondary {
  letter-spacing: 0.35rem;
  font-weight: 400;
  font-size: 4rem;
}
