/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Vollkorn', serif;
*/

.heading-primary {
  font-family: 'Vollkorn', serif;
  font-size: 4.5rem;
  color: $color-primary-light;
  font-weight: 600;
}

.heading-secondary {
}
