$color-primary-light: #cc992c;
$color-primary: #b38627;
$color-primary-dark: #785a1a;

$color-secondary: #4a2f12;
$color-secondary-light: #66441f;

$color-tertiary: #21478d;
$color-secondary-dark: #21478d;

$color-background: #171e26;
/* $color-background-light: #21478d; */

$color-font: #d6eaf1;

$clock-size: 50vh;
