$color-primary-light: #cc992c;
$color-primary: #b38627;
$color-primary-dark: #785a1a;

$color-secondary: #4a2f12;
$color-secondary-light: #66441f;

$color-background: #171e26;
$color-background-light: #21478d;

$color-font: #d6eaf1;

$clock-size: 50vh;

@mixin viewportRatio($x, $y) {
  width: 100vw;
  height: $y * 100vw / $x;
  max-width: $x / $y * 100vh;
  max-height: 100vh;
}
