// This is for the low level basics, such as resets and styles for html and body.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // The entire page will now inherit box-sizing from it's parent, wherever it is set (for example in body)
}

html {
  // This is being set for the purpose of easy rem calculations throughout the application
  // Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default
  // The percentage is 62.5% because it equates to 10px assuming the 16px default
  font-size: 62.5%;
}

// Setting this is body because fonts will be inherited by child elements
body {
  background-color: $color-background;
  background-image: repeating-linear-gradient(
    to bottom,
    $color-background,
    $color-background-light
  );

  font-family: Arial, Helvetica, 'Roboto', sans-serif;
  font-weight: 400;
  //   font-size: 1.6rem;
  line-height: 2.2; // 2.2x larger than the default

  box-sizing: border-box; // This makes the box model not count borders/paddings in total height/width, and will extend to all children and their children because it is set to inherit in the * selecto

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  a {
    color: #fff;

    &:hover {
      color: rgba($color-primary-light, 1);
      transition: color 0.5s ease, box-shadow 0.1s ease;
    }

    &:active {
      color: rgba($color-primary-light, 0.3);
      transition: color 0.2s ease, box-shadow 0.1s ease;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  html {
    /*     body {
      background-color: blue;
    } */
    font-size: 65%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  html {
    /*     body {
      background-color: green;
    } */
    font-size: 80%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  html {
    /*     body {
      background-color: red;
    } */
    font-size: 100%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

// Everything that is app-wide but not generic and/or for html/body

.App {
  height: 100%;
  padding: 0 2rem 2rem 2rem;
  border: 2rem solid $color-secondary-light;

  .time {
    text-align: center;
    line-height: 36px;

    min-width: 25rem;
    font-size: 2rem;
    background-color: $color-secondary-light;
    border-radius: 0 0 80px 80px;
    box-shadow: -0.5px 1px 0 $color-secondary;
    margin-bottom: 1rem;
    margin: 0 auto 1rem auto;
    padding: 0 2rem 1rem 2rem;

    .zone {
      font-size: 1.3rem;
    }
  }

  .links {
    position: absolute;
    top: 2.3rem;
    right: 2.7rem;

    .link {
      margin: 0 1rem;
      font-size: 2rem;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  /* Styles */
  .App {
    .time {
      width: 80%;
      .zone {
        font-size: 1.3rem;
      }
    }
    .links {
      top: 1.8rem;
      width: 3.1rem;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* Styles */
  .App {
    .time {
      width: 50%;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .App {
    .time {
      width: 20%;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .clock-container {
    height: 50vh;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .clock-container {
    height: 50vh;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .clock-container {
    height: 55vh;
  }
}

//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////

.unselectable {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.buttons-container {
  text-align: center;
  vertical-align: bottom;

  .buttons {
    /*     display: grid;
    grid-template-columns: repeat(auto-fir, minmax(max-content, 4.5rem)); */
    width: 100%;
    margin: 0 auto;

    &__btn {
      line-height: 60%;
      text-align: center;
      display: inline-block;
      margin: 5px 4px;
      font-size: 1rem;
      font-weight: bold;

      border-radius: 10px;
      padding: 1rem;

      background-color: $color-secondary-light;
      box-shadow: 0 3px $color-secondary;

      transition: background-color 2s ease, box-shadow 2s ease;

      &:hover {
        box-shadow: 0 3px $color-primary;
        background-color: rgba($color-primary-light, 1);

        transition: background-color 0.1s ease, box-shadow 0.1s ease;
      }

      &:active {
        transform: translateY(2px);
        box-shadow: 0 1px $color-primary-dark;
        transition: 50ms;
      }
    }

    &__time {
      line-height: 100%;
      display: block;
      font-size: 50px;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .buttons-container {
    .buttons {
      width: 100%;
      &__btn {
        margin: 4px 3px;
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* Styles */
  .buttons-container {
    .buttons {
      width: 90%;
      &__btn {
        margin: 4px 3px;
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .buttons-container {
    .buttons {
      width: 100%;
      &__btn {
        margin: 4px 3px;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }
}
