// === COLORS ===
$prim: #e14f3d;
$primMedium: #741b16;
$primDark: #5d1612;
$gray: #7c7c7c;
$darkGray: #4d4d4d;

// === BORDER ===
$darkBorder: #151517;

.unselectable {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.buttons-container {
  position: relative;
  text-align: center;
  vertical-align: bottom;

  .buttons {
    width: 100%;
    margin: 0 auto;

    &__btn {
      line-height: 60%;
      text-align: center;
      display: inline-block;
      margin: 5px 4px;
      font-size: 1rem;
      font-weight: bold;

      border-radius: 10px;
      padding: 1rem;

      background-color: $gray;
      box-shadow: 0 3px $darkGray;

      transition: background-color 2s ease, box-shadow 2s ease;

      &:hover {
        box-shadow: 0 3px $primMedium;
        background-color: rgba($prim, 1);

        transition: background-color 0.1s ease, box-shadow 0.1s ease;
      }

      &:active {
        transform: translateY(2px);
        box-shadow: 0 1px $primDark;
        transition: 50ms;
      }
    }

    &__time {
      line-height: 100%;
      display: block;
      font-size: 50px;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .buttons-container {
    .buttons {
      width: 100%;
      &__btn {
        margin: 4px 3px;
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* Styles */
  .buttons-container {
    .buttons {
      width: 90%;
      &__btn {
        margin: 4px 3px;
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .buttons-container {
    .buttons {
      width: 100%;
      &__btn {
        margin: 4px 3px;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }
}
