// === COLORS ===
$prim: #e14f3d;
$primMedium: #741b16;
$primDark: #5d1612;

// === BORDER ===
$darkBorder: #151517;

.buttons-container {
  position: relative;
  text-align: center;

  .buttons {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;

    &__btn {
      line-height: 60%;
      text-align: center;
      display: inline-block;
      margin: 10px 8px;
      font-size: 1rem;

      border-radius: 5px;
      padding: 4px;
      background-color: $prim;

      box-shadow: 0 4px $primDark;

      &:hover {
        background-color: rgba($prim, 0.8);
      }

      &:active {
        transform: translateY(3px);
        box-shadow: 0 2px $primDark;
        transition: 50ms;
      }
    }

    &__time {
      line-height: 100%;
      display: block;
      font-size: 50px;
    }
  }
}
