<div className="App">
  <div className="time">
    <div className="time__zone heading-primary">{zone}</div>
    <span className='time__exact heading-secondary'> {hours}:{minutes}:{seconds} {period} </span>
  </div>

  <div className='clock-container'>
    <div
      className='clock'
      css={css`
        &:before {
          transform: rotate(${minDegrees}deg);
          transition: 250ms;
        }
        &:after {
          transform: rotate(${secDegrees}deg);
          transition: 50ms;
        }
      `}
    >
      <span
        className='clock__hour-hand'
        css={css`
          &:before {
            transform: rotate(${hourDegrees}deg);
            transition: 500ms;
          }
        `}
      ></span>
      <span className='clock__hand-hinge'></span>
    </div>
  </div>

  <div className="buttons-container">
    <div className="buttons">

        <div className='buttons__btn unselectable' onClick={() => func(zone)}>
            {abbv}
        </div>

    </div>
  </div>

  <div className="links">
    <a className="link" href="https://github.com/thnlsn/world-clock">
      <i class="fab fa-github"></i>
    </a>
    <a className="link" href="https://www.linkedin.com/in/thnlsn/">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
