/* Style imports (Every partial imported into here will be available app-wide) */
/* $color-background-light: #21478d; */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #171e26;
  /*   background-image: repeating-linear-gradient(
    to bottom,
    $color-background,
    $color-background-light
  ); */
  /* background by SVGBackgrounds.com */
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
  color: #d6eaf1;
  min-height: 100vh;
  /*   background-repeat: no-repeat;
  background-attachment: fixed; */ }

::selection {
  background-color: var(--color-primary);
  color: var(--color-font); }

/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Vollkorn SC', serif;
*/
.heading-primary {
  font-family: 'Vollkorn SC', serif;
  font-size: 4.5rem;
  color: #cc992c;
  font-weight: 600;
  line-height: 1; }

.heading-secondary {
  letter-spacing: 0.35rem;
  font-weight: 400;
  font-size: 4rem; }

.time__zone {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  align-items: center;
  grid-gap: 2rem; }
  .time__zone:before, .time__zone:after {
    content: '';
    height: 2px;
    background-color: currentColor;
    transform: translateY(50%);
    display: block; }

.time__exact span {
  font-size: 60%;
  text-transform: uppercase;
  color: #cc992c;
  font-weight: 600; }

.time svg {
  height: 1rem;
  width: 100%;
  fill: white;
  stroke-width: 1rem; }

.time__line {
  fill: white;
  stroke-width: 1rem; }

.clock {
  position: relative;
  /*     transform: translate(-50%, -50%); */
  height: 50vh;
  width: 50vh;
  border: 2rem solid #cc992c;
  border-radius: 50%;
  background: url(../images/clock.png);
  background-size: cover;
  background-color: white;
  box-shadow: -0.5px 1px 0 #b38627, inset 0 0 40px rgba(0, 0, 0, 0.5); }
  .clock__hand-hinge {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background: #171e26;
    border-radius: 50%;
    z-index: 1; }
  .clock__hour-hand::before {
    content: '';
    position: absolute;
    top: calc( 50% - 3px);
    /* -4px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 30%;
    height: 6px;
    /* Thickness of the clock arm */
    background: #4a2f12;
    border-radius: 0 50% 50% 0;
    transform-origin: left; }
  .clock::before {
    content: '';
    position: absolute;
    top: calc( 50% - 1.5px);
    /* -4px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 45%;
    height: 3px;
    /* Thickness of the clock arm */
    background: #4a2f12;
    border-radius: 0 500% 500% 0;
    transform-origin: left; }
  .clock::after {
    content: '';
    position: absolute;
    top: calc( 50% - 0.75px);
    /* -4px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 35%;
    height: 1.5px;
    /* Thickness of the clock arm */
    background: #b38627;
    border-radius: 0 50% 50% 0;
    transform-origin: left; }

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-rows: min-content;
  gap: 1rem; }
  .buttons__btn {
    display: inline-block;
    background-color: #21478d;
    border-radius: 5px;
    padding: 0.5rem 0;
    transition: all 0.1s; }
    .buttons__btn:hover {
      background-color: #b38627;
      color: #171e26; }

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr;
  gap: 2rem;
  text-align: center;
  border: 2px solid #b38627; }

.clock-container {
  position: relative;
  justify-self: center; }

.buttons-container {
  justify-self: stretch;
  padding: 0 2.5rem; }

.links {
  display: none; }
