// Everything that is app-wide but not generic and/or for html/body

// === COLORS ===
$prim: #ff9100;
$primMedium: #b97909;
$primDark: #502907;
$gray: #7c7c7c;
$darkGray: #4d4d4d;

// === BORDER ===
$darkBorder: #151517;

.App {
  height: 100%;
  padding: 0 2rem 2rem 2rem;
  border: 2rem solid $gray;

  .time {
    text-align: center;
    line-height: 36px;

    min-width: 25rem;
    font-size: 2rem;
    background-color: $gray;
    border-radius: 0 0 80px 80px;
    box-shadow: -0.5px 1px 0 $darkGray;
    margin-bottom: 1rem;
    margin: 0 auto 1rem auto;
    padding: 0 2rem 1rem 2rem;

    .zone {
      font-size: 1.3rem;
    }
  }

  .links {
    position: absolute;
    top: 2.3rem;
    right: 2.7rem;

    .link {
      margin: 0 1rem;
      font-size: 2rem;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  /* Styles */
  .App {
    .time {
      width: 80%;
      .zone {
        font-size: 1.3rem;
      }
    }
    .links {
      top: 1.8rem;
      width: 3.1rem;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  /* Styles */
  .App {
    .time {
      width: 50%;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .App {
    .time {
      width: 20%;
    }
  }
}
