// This is for the low level basics, such as resets and styles for html and body.

// === COLORS ===
$prim: #ff9100;
$primMedium: #b97909;
$primDark: #502907;
$gray: #7c7c7c;
$darkGray: #4d4d4d;

// === BORDER ===
$darkBorder: #151517;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // The entire page will now inherit box-sizing from it's parent, wherever it is set (for example in body)
}

html {
  // This is being set for the purpose of easy rem calculations throughout the application
  // Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default
  // The percentage is 62.5% because it equates to 10px assuming the 16px default
  font-size: 62.5%;
}

// Setting this is body because fonts will be inherited by child elements
body {
  background-color: #1c1c1f;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );

  font-family: Arial, Helvetica, 'Roboto', sans-serif;
  font-weight: 400;
  //   font-size: 1.6rem;
  line-height: 2.2; // 2.2x larger than the default
  color: #fff;

  box-sizing: border-box; // This makes the box model not count borders/paddings in total height/width, and will extend to all children and their children because it is set to inherit in the * selecto

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  a {
    color: #fff;

    &:hover {
      color: rgba($prim, 1);
      transition: color 0.5s ease, box-shadow 0.1s ease;
    }

    &:active {
      color: rgba($prim, 0.3);
      transition: color 0.2s ease, box-shadow 0.1s ease;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  html {
    /*     body {
      background-color: blue;
    } */
    font-size: 65%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  html {
    /*     body {
      background-color: green;
    } */
    font-size: 80%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  html {
    /*     body {
      background-color: red;
    } */
    font-size: 100%;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
