// This is for the low level basics, such as resets and styles for html and body.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // The entire page will now inherit box-sizing from it's parent, wherever it is set (for example in body)
}

html {
  // This is being set for the purpose of easy rem calculations throughout the application
  // Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default
  // The percentage is 62.5% because it equates to 10px assuming the 16px default
  font-size: 62.5%;
}

// Setting this is body because fonts will be inherited by child elements
body {
  background-color: #1c1c1f;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );

  font-family: Arial, Helvetica, 'Roboto', sans-serif;
  font-weight: 400;
  //   font-size: 1.6rem;
  line-height: 2.2; // 2.2x larger than the default
  color: #fff;
  padding: 3rem;

  box-sizing: border-box; // This makes the box model not count borders/paddings in total height/width, and will extend to all children and their children because it is set to inherit in the * selecto

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  min-height: 100vh;
  font-size: 1.6rem;
}
